body, html {
  height: 100%;
  width: 100%;
}


body{
  height: 100%;
  width: 100%;
   margin: 0;
   flex-direction: row;
   background:  #ECECEC;
}




/*menu style*/

@keyframes a{
  0%{
    background:transparent;
  }
  50%{
    background:darkorange;
  }
  100%{
    background:transparent;
  }
}
@keyframes b{
  0%{
    background:darkorange;
  }
  50%{
    background:transparent;
  }
  100%{
    background:darkorange;
  }
}



#img3{
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
}

#divaa3{
  position:absolute;
  width:80px;
  height:80px;
  border:5px #00F0B5;
  border-radius:100px;
  background:#00F0B5;
  transition:.6s;
}
#divaa3:hover{
  height:300px;
}
#divaa3:hover > #divaaa3{
  height:300px;
}
#divaa3:hover > #divaaa4{
  height:200px;
}

#btnc1{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc1{
  top:90px;
  color:black;
  background:#ECECEC;
  padding-bottom:5px;
}
#btnc2{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
} 
#divaa3:hover > #btnc2{
  top:140px;
  color:black;
  background:#ECECEC;
  padding-bottom:5px;
}
#btnc3{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc3{
  top:190px;
  color:black;
  background:#ECECEC;
  padding-bottom:5px;
}

#btnc4{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc4{
  top:240px;
  color:black;
  background:#ECECEC;
  padding-bottom:5px;
}

/* Welcome Page Style */ 


.welcomePC {
  width: auto;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  color: #111;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
}
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn:hover::before {
  background: black;
  width: 100%;
}
.btn.rounded {
  border-radius: 50px;
}
.btn.rounded .text-green {
  color: #00F0B5;
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #00F0B5;
}
.btn.rounded:hover::before {
  background: #00F0B5;
  width: 100%;
}

/* Login Page Style */ 

.login {
  font-family: "Lato", sans-serif;
  color: #111;
  display: none;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #cadfe0;
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(39, 140, 153, 0.2);
}

.login::before, .login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}
.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}
.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.login > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #00F0B5;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.login > button:hover {
  background-color: #00F0B5;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: #3cb496;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

/*Register Page Style*/



.Register {
  font-family: "Lato", sans-serif;
  color: #111;
  display: none;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #cadfe0;
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(39, 140, 153, 0.2);
}
.Register::before, .Register::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.Register::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}
.Register::after {
  left: 20%;
  bottom: -100%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}
.Register > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(232, 255, 255);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.Register > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #00F0B5;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.Register > button:hover {
  background-color: #00F0B5;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: #3cb496;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

/*Setting style*/

.gameSettingPC {
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 0);
  display: none;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #cadfe0;
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(39, 140, 153, 0.2);
}
.settings::before, .settings::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.settings::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}
.settings::after {
  left: 20%;
  bottom: -100%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}
.settings > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(0, 0, 0);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.settings > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
  width: 600px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #00F0B5;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.settings > button:hover {
  background-color: #00F0B5;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: #3cb496;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

/*Dialog style*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.myDialogS{
  width: 500px;
  height: 150px;

}

/*sitting style*/

